.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_open {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  position: relative;
  max-width: 496px;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  border-style: solid;
  border: 1px;
  box-sizing: border-box;
  padding: 28px 28px 36px;
}

.modal__title {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  margin: 0 0 24px;
}

.modal__close {
  background: no-repeat center url(../../assets/close.svg);
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 28px;
  border: 0;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 24px;
  width: 100%;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  padding: 0;
  margin: 0;
}

.modal__input {
  border-style: none;
  border-bottom: 1px solid;
  border-color: #000;
  color: #00000080;
  padding: 0;
  margin: 0;
}

.modal__radio-buttons {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-style: none;
  padding: 0;
  margin: 0;
}

.modal__weather-legend {
  margin: 0 0 12px;
}

.modal__radio-label {
  color: #00000080;
  cursor: pointer;
}

.modal__radio-input {
  margin: 0 11px 0 0;
  accent-color: #000;
  cursor: pointer;
}

.modal__radio-input:checked + .modal__radio-text {
  color: #000;
}

.modal__submit {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #fff;
  width: 124px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  transition: background-color 0.5s linear;
  cursor: pointer;
}

.modal__submit:hover {
  background-color: #00000099;
}

.modal__submit:disabled {
  background-color: #0000004d;
}

@media screen and (max-width: 725px) {
  .modal__content_type_form {
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .modal__close {
    background: no-repeat center url(../../assets/close-black.svg);
    width: 22px;
    height: 22px;
    top: 20px;
    right: 20px;
  }

  .modal__submit {
    width: 100%;
  }
}
