.clothes-section {
  display: flex;
  flex-direction: column;
}

.clothes-section__text-area {
  display: flex;
  height: 56px;
  align-items: center;
  gap: 20px;
}

.clothes-section__text {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(25 / 20);
  margin: 0;
}

.clothes-section__add-button {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(25 / 20);
  border: none;
  background: none;
  padding: 0;
  color: #00000099;
  transition: color 0.5s linear;
}

.clothes-section__add-button:hover {
  color: #000;
}

.clothes-section__cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 0;
  margin: 0;
  row-gap: 20px;
  column-gap: 20px;
}

@media screen and (max-width: 1380px) {
  .clothes-section__cards-list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 16px;
  }
}

@media screen and (max-width: 1050px) {
  .clothes-section__cards-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 725px) {
  .clothes-section__text-area {
    justify-content: space-between;
  }
}
