.card {
  width: 325px;
  height: 325px;
  position: relative;
}

.card__name-wrapper {
  background-color: #fff;
  width: 73px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 125px;
}
.card__name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  margin: 0;
}

.card__image {
  width: 325px;
  height: 325px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 19px;
}
