.weather-card {
  position: relative;
  margin: 0 0 40px;
  padding: 0;
  max-height: 80px;
}

.weather-card__info {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: #fff;
  position: absolute;
  top: 20px;
  left: 16px;
  margin: 0;
}

.weather-card__image {
  width: 100%;
  height: 80px;
  margin: 0;
  border-radius: 12px;
  overflow: hidden;
  display: block;
  object-position: right top;
  object-fit: cover;
  max-width: 1360px;
  min-width: 343px;
}

@media screen and (max-width: 725px) {
  .weather-card {
    margin: 0 0 32px;
  }
}
