.header {
  display: flex;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  height: 40px;
  align-items: center;
}

.header__logo {
  height: 40px;
  width: 89px;
  margin-right: 24px;
}

.header__hamburger-menu-button {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent url("../../assets/hamburger-menu.svg") center
    no-repeat;
  width: 44px;
  height: 44px;
}

.header__date {
  margin: 0;
  flex-grow: 1;
}

.header__user-box {
  display: flex;
  z-index: 1;
}

.header__close-button {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent url("../../assets/close-black.svg") center no-repeat;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.header__add-button {
  padding: 0;
  margin: 0 20px 0 0;
  border: none;
  background: none;
  font-size: 20px;
  line-height: calc(24 / 20);
  font-weight: 700;
  transition: color 0.5s linear;
  cursor: pointer;
}

.header__add-button:hover {
  color: #00000099;
}

.header__add-button_hidden {
  visibility: hidden;
  position: absolute;
}

.header__profile-link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: color 0.5s linear;
  display: flex;
}

.header__profile-link:hover {
  color: #00000099;
}

.header__profile-link_hidden {
  visibility: hidden;
  position: absolute;
}

.header__user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__name {
  margin: 0;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border: #000 1px;
  border-radius: 50%;
  z-index: 0;
}

.header__avatar_hidden {
  visibility: hidden;
  position: absolute;
}

.header__placeholder {
  display: flex;
  height: 40px;
  width: 40px;
  border: #000 1px;
  border-radius: 50%;
  background-color: #00000033;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  z-index: 0;
}

.header__placeholder_hidden {
  visibility: hidden;
  position: absolute;
}

@media screen and (max-width: 725px) {
  .header {
    display: grid;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 44px 44px;
    grid-template-areas:
      "logo . hamburger-menu-button"
      "date date date";
    box-sizing: border-box;
    position: relative;
  }

  .header__logo {
    grid-area: logo;
  }

  .header__hamburger-menu-button {
    grid-area: hamburger-menu-button;
    position: relative;
    visibility: visible;
    opacity: 1;
    border: none;
    justify-self: right;
  }

  .header__date {
    grid-area: date;
    flex-grow: 0;
    align-self: end;
  }

  .header__user-box {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 208px;
    background-color: #fff;
    justify-self: center;
    border-radius: 10px;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 24px;
    top: 0px;
    box-shadow: 0px 2px 8px 0px #0000001a;
    transition: visibility 0.5s, opacity 0.5s linear;
  }

  .header__user-box_open {
    position: absolute;
    visibility: visible;
    opacity: 1;
  }

  .header__close-button {
    visibility: visible;
    opacity: 1;
    top: 11px;
    right: 11px;
  }

  .header__user-container {
    justify-content: center;
  }
}
