.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.footer__name {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  margin: 0;
}

.footer__date {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  margin: 0;
}
